div.a {
        border: solid transparent 1px; 
        width: 15em; 
        background-color: rgb(212, 208, 218); 
        float: left;    
}
div.b {
        border: solid transparent 1px; 
        margin-bottom: .2em; 
        margin-left: 15em; 
        background-color: rgb(173, 169, 175);
}
div.c {
        background-color: rgb(173, 169, 175); 
        height: 20em;
        background-image: url('1.png');
        background-position: right bottom;
        background-repeat: no-repeat;
}
div.d {
        border: solid transparent 1px; 
        width: 15em;
        background-color: rgb(195, 191, 197);
        height: 14.35em;
        position: fixed;
        inset-block-start: 17em;
}
div.e {
        border: solid transparent 1px;
        background-color: rgb(173, 169, 175);
        clear: none;
        foo
}