div PRE {
    height: 60px;
    overflow-y: auto;
    width: 400px; 
    background-color: black; 
    color: green;
    line-height: 0.6;
    padding-top: 3mm;
    padding-bottom: 3mm;
    margin: -12mm; 
}
ol {
    width: 350px;
    white-space: nowrap;
}
div {
   padding-top: 15mm;    
}